.formContainer {
  width: 50%;
  padding: 40px;
  background-color: #002B49;
  color: #fff;
  box-sizing: border-box;
}

.infoContainer {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D173C;
  color: #fff;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #5BCAEA;
  background-color: #00609C;
  color: #fff;
  font-family: inherit;
}

.select {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #5BCAEA;
  background-color: #00609C;
  color: #fff;
  font-family: inherit;
}

.errorInput {
  border-color: #ff4e4e;
}

.errorText {
  color: #ff4e4e;
  font-size: 12px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: inherit;
}

.telegramButton {
  background-color: #009ADE;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: inherit;
}

.submitButton {
  background-color: #5BCAEA;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  font-family: inherit;
}

.loginButton {
  background-color: #009ADE;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: inherit;
}

.description {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.centerContent {
  text-align: center;
}